/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* основной цвет фона #FFFFFF*/
/* вторичный цвет фона #F5F4FA */
/* акцент #2196F3 */
/* цвет иконок #AFB1B8 */

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-grey-color: #F5F4FA;
    --background-spaygrey-color: #2F303A;
    --icon-grey-color: #AFB1B8;
}

body {
    margin: 0;

    color: var(--primary-text-color);
    background-color: var(--primary-white-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Container */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-nav {
    display: flex;
    align-items: center;
}

/* Logo */

.logo {
    margin-right: 93px;

    color: var(--primary-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo .title { 
    color: var(--accent-color);
}

.auth-nav {
    display: flex;
    align-items: center;
}

/* Navigation */
.site-nav {
    display: flex;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.link.curent {
    color: var(--accent-color);
}

.link.curent::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
}




/* Contacts */

.site-contacts {
    display: flex;
    margin-left: auto;
}

.site-contacts .item:not(:last-child) {
    margin-right: 50px;
}

.site-contacts .link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-color);
}

.link-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;

    fill: currentColor;
}

/* Hero */

.container.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
    background-color: #C4C4C4;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
}

.hero-title {
    width: 693px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;  
}

.hero-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor:pointer;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}

.button.active {
    color: var(--primary-white-color);
    background-color: var(--accent-color);    
}

/* Peculiarities */

.visual-heading{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section.no-padding {
    padding-top: 0;
}

.peculiarities {
    display: flex;
    align-items: center;
}

.peculiarities .item {
    width: 270px;
}

.peculiarities .item:not(:last-child) {
    margin-right: 30px;
}

.item-icom {
    width: 270px;
    height: 120px;
    padding-left: 100px;
    border-radius: 4px;
    background-color: var(--background-grey-color);   
}

.peculiarities-title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--primary-text-color);

    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;   
}

.peculiarities-text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--title-text-color);

    line-height: 1.71;   
}

/* Чем мы занимаемся */

.work {
    display: flex;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;   
}

.work-link:not(:last-child) {
    margin-right: 30px;
}

.work-action {
    position: relative;
}

.work-action::before {
    position: absolute;
    content: '';
    width: 370px;
    height: 70px;
    bottom: 0;
    left: 0;

    background-color: 
    rgba(47, 48, 58, 0.8);
}

.work-text {
    position: absolute;
    width: 205px;
    height: 16px;
    left: 50%;
    top: 251px;
    transform: translate(-50%, 0);

    margin: 0;
    padding: 0;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

/* Наша команда */

.section.team {
    background-color: var(--background-grey-color);  
}

.team-list {
    display: flex;   
}
 
.team-roster {
    width: 270px;

    background-color: var(--primary-white-color);
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);

    text-align: center;
}

.team-roster:not(:last-child) {
    margin-right: 30px;
}


.team-link {
    display: inline-flex;
    text-decoration: none;
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
    margin-top: 16px;

    fill: var(--icon-grey-color);
}

.team-icon {
    padding-left: 12px;
    padding-top: 12px;
}

.team-link:not(:last-child) {
    margin-right: 10px;
}

.team-link:hover,
.team-link:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
    border-radius: 50%;
    border: 0;
}

.team-name {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;   
}

.team-job {
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;

    color: var(--title-text-color);

    font-size: 16px;
    line-height: 1.19;   
}

/* Клиенты */

.clients {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;   
}

.clients-link {
    display: inline-flex;
    text-decoration: none;
    width: 170px;
    height: 92px;
    margin-top: 50px;

    fill: var(--icon-grey-color);
    outline: 1px solid var(--icon-grey-color);
    border-radius: 4px;
}

.clients-list:not(:last-child) {
    margin-right: 30px;
}

.clients-icon {
    padding-top: 16px;
    padding-left: 32px;
}

.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;

    background-color: var(--background-spaygrey-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}
   
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--primary-white-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;   
}

.logo-footer .title {
    color: var(--accent-color);
}

.footer-adress {
    margin-bottom: 60px;
}

.footer-adress .map {
    display: block;
    margin-bottom: 9px;

    color: var(--primary-white-color);

    font-style: normal;
    line-height: 1.71;
    text-decoration: none;   
}

.footer-adress .link {
    display: block;

    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    line-height: 1.71;
    text-decoration: none;    
}

.footer-adress .link:hover,
.footer-adress .link:focus {
    color: var(--accent-color);
}


.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.text {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;

    color: var(--primary-white-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.soc {
    display: flex;    
} 

.soc-list {
    /* display: block; */
}
    
.soc-link {
    display: inline-flex;
    text-decoration: none;
    width: 44px;
    height: 44px;

    fill: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.soc-icon {
    display: inline-flex;
    padding-left: 12px;
    padding-top: 12px;
}

.soc-list:not(:last-child) {
    margin-right: 10px;
}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
    border-radius: 50%;
}

/* styles portfolio */
/* job */

.job-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.job-button .item:not(:last-child) {
    margin-right: 8px;
}

.button {
    color: var(--primary-text-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}


.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.active,
.button {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    text-align: center;
    border: 0;
}

.job {
    display: flex;
    flex-wrap: wrap;   
}

.job-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    border: 1px solid #EEEEEE;
}

.job-item:nth-child(3n) {
    margin-right: 0;
}

.job-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.job-item:hover,
.job-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.job-item:hover .text-hover {
    opacity: 1;
}

.job-item:hover .job-overlay {
    opacity: 1;
    transform: translateY(0);
}

.job-img {
    position: relative;
    overflow: hidden;
}

.job-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-hover {
    position: absolute;
    width: 322px;
    height: 168px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 1.56;

    color: var(--primary-white-color);
}

.job-link {
    margin-top: 0;
    margin-bottom: 0;

    text-decoration: none;
}

.job-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;

    color: var(--primary-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;   
}

.job-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-left: 24px;

    color: var(--title-text-color);

    font-size: 16px;
    line-height: 1.88;   
}

